<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1063086851250-ignq5qmaos1b8iee4q35ho60m5tstfsl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1063086851250-ignq5qmaos1b8iee4q35ho60m5tstfsl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1063086851250-k31io3odssuekmqo9ddv7cons647pkan.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD9i1svFKZPzvzDdI1coqlU6g9pZ2qS-jk</string>
	<key>GCM_SENDER_ID</key>
	<string>1063086851250</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>naboolabs.googleapiQuestions</string>
	<key>PROJECT_ID</key>
	<string>api-questions</string>
	<key>STORAGE_BUCKET</key>
	<string>api-questions.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1063086851250:ios:e305589b804646b5d9f5ab</string>
	<key>DATABASE_URL</key>
	<string>https://api-questions.firebaseio.com</string>
</dict>
</plist>